rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document=**} {
      allow read, update, delete, write: if request.auth.uid != null;
    }
  }
}